<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <title>Car</title>
    <style>
        table th, table td {padding: 5px;}
    </style>
</head>
<title>Title</title>
</head>
<body>

<form th:method="POST" th:action="@{/users}" th:object="${user}">  <!--th:action="@{/users}" &#45;&#45; туда будет направлен запрос-->
    <label for="name">name</label>
    <input type="text" th:field="*{name}" id="name"> <!--th:value="${user.getName()}"-->
    <label for="age">age</label>
    <input type="number" th:field="*{age}" id="age">
    <label for="password">pass</label>
    <input type="text" th:field="*{password}" id="password">
    <input type="submit" value="Create">
</form>
</body>
</html>